.overflow-proof {
  overflow: auto;
  overflow-x: hidden;
}
.tile.scrollable-fancy-listing .scrollable-fancy-listing-item {
    height: 10%;
    margin: 0 0 1%;
    overflow: hidden;
    width: 100%;
}

.tile.scrollable-fancy-listing .scrollable-fancy-listing-item:first-child {
    /*
    this element is cloned by js
    */
    display: none;
}

.tile.scrollable-fancy-listing .scrollable-fancy-listing-item .float-wrapper{
    float: left;
    height: 100%;
    overflow: hidden;
    width: 30%;
}

.tile.scrollable-fancy-listing .scrollable-fancy-listing-label {
    font-weight: bold;
    color: white;
}

.tile.scrollable-fancy-listing .scrollable-fancy-listing-label-inside {
    font-weight: 900;
    font-size: 1.5em;
}

.tile.scrollable-fancy-listing .scrollable-fancy-listing-def {
    float: right;
    width: 68%;
}

.tile.scrollable-fancy-listing .scrollable-fancy-listing-term {
    font-size: 1.5em;
    white-space: nowrap;
}
